* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  padding: 20px 50px;
}
.container {
  display: grid;
}
/* Header */
.header {
  display: grid;
  grid-template-areas:
    "hero hero feature-1"
    "hero hero feature-2";
}
.header .hero {
  grid-area: hero;
  background-image: url(vendor/hero.jpg);
  height: 400px;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  display: flex;
  flex-direction: column;
  place-content: center;
  transition: all 1s;
}
.hero > * {
  display: inherit;
}
.hero .nama {
  font-weight: 200;
}
.header .features {
  color: white;
  padding: 50px;
  display: grid;
  place-content: center;
  text-align: center;
  text-shadow: 1px 2px 1px black;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.5em;
  transition: 0.5s;
}
.header .features:hover {
  color: antiquewhite;
}
.header .feature-1 {
  grid-area: feature-1;
  background-image: url(vendor/camera.jpg);
}
.header .price {
  font-weight: 200;
}
.header .feature-2 {
  grid-area: feature-2;
  background-image: url(vendor/laptop.jpg);
}
nav {
  order: -1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* background-color: rgb(255, 255, 255); */
  place-content: center;
  margin: 10px 0;
}
nav .logo {
  font-size: 1.5rem;
}
nav .nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
  align-content: center;
  text-align: center;
}
.nav li {
  display: inline-block;
  transition: 1s;
}
.nav li a:hover {
  color: antiquewhite;
  box-shadow: 1px 1px 3px black;
}
.nav li a {
  padding: 5px;
  display: block;
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  color: white;
  transition: all 0.5s;
}
.menu-toggle input {
  display: none;
}
/* Services */
.sections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}
.section {
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 15px;
  box-sizing: border-box;
}
.section #fa-size {
  font-size: 1.9rem;
  margin-bottom: 5px;
}
.section p {
  font-weight: 200;
  font-size: 1rem;
  margin-top: 10px;
}
/* Gallery */
.gallery {
  margin: 50px 0;
  text-align: center;
}
.gallery h3 {
  margin: 15px 0;
  font-size: 1.7rem;
}
.gallery .images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
}
.gallery .images img {
  width: 100%;
}

/* responsive */
/* tablet */
@media (max-width: 1024px) {
  nav {
    order: inherit;
    grid-template-columns: 1fr;
    margin: 5px 0;
  }
  nav .logo {
    display: none;
  }
  .hero > * {
    display: inherit;
  }
}
@media (max-width: 768px) {
  .header .hero {
    padding: 10px;
  }
  .sections {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  body {
    padding: 10px;
  }
  nav .nav {
    display: flex;
    position: fixed;
  }
  nav {
    order: -1;
    justify-items: end;
    padding: 0px;
  }
  nav ul {
    /* display: none; */
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    background-color: black;
    height: 100vh;
    text-align: center;
    justify-content: space-evenly;
    width: 100vw;
    /* z-index: 99; */
    transform: translateY(-100%);
    transition: 1s;
    opacity: 0;
  }
  nav ul.slide {
    transform: translateY(0%);
    opacity: 1;
  }

  /* Hamburger Meu */
  .menu-toggle {
    height: 28px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    z-index: 9999;
  }
  .menu-toggle input {
    position: absolute;
    top: -2px;
    left: 0px;
    height: 30px;
    width: 35px;
    opacity: 0;
    display: block;
    cursor: pointer;
    z-index: 3;
  }
  .menu-toggle span {
    display: block;
    width: 35px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: all 0.5s;
  }
  .nav li a:hover {
    color: black;
    background-color: wheat;
    box-shadow: 1px 1px 3px black;
  }
  /* Animasi */
  .menu-toggle input:checked ~ span:nth-child(2) {
    background-color: WHITE;
    transform: rotate(45deg) translate(2px, -6px);
  }
  .menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
  }
  .menu-toggle input:checked ~ span:nth-child(4) {
    background-color: WHITE;
    transform: rotate(-45deg) translate(3px, 6px);
  }
  .menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
  }
  .menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
  }

  /* header */
  .hero > * {
    display: none;
  }

  /* service */
  .sections {
    grid-template-columns: 1fr;
  }
}
